<dl>
  <dt><label for='name'>Name :</label></dt>
  <dd><input id='name' type='text' name='bookmark[name]' autofocus value="<%= @bookmark.name %>"</dd>

  <dt><label for='url'>URL :</label></dt>
  <dd><input id='url' type='text' name='bookmark[url]' autofocus value="<%= @bookmark.url %>"</dd>

  <dt><label for='description'>Description :</label></dt>
  <dd><input id='description' type='text' name='bookmark[description]' autofocus value="<%= @bookmark.description %>"</dd>

</dl>