<form method='post' action='/bookmarks'>
  <dl>
    <dt><label for='name'>Name :</label></dt>
    <dd><input id='name' name='bookmark[name]' type='text' autofocus></dd>
    <dt><label for='url'>URL :</label></dt>
    <dd><input id='url' name='bookmark[url]' type='text' autofocus></dd>
    <dt><label for='description'>Description :</label></dt>
    <dd><input id='description' name='bookmark[description]' type='text' autofocus></dd>
  </dl>
  <button>Add Bookmark</button>
</form>